# Intoduction of SciKit-Learn 
this notebook demonstrate  the diffrent functions of SciKit-learn (Sk learn)
we are going to cover:
 1. An end-to-end work flow of Sci-Kit learn work flow 
 2. Getting the data ready 
 3. chossing the right estimator/algorithm for our problem
 4. fit the model/algorithm and make prediction on our data 
 5. evaluating our model 
 6. improve a model 
 7. save anda load a trained  model 
 8. putting it all together1!

In [25]:
import numpy as np

## 1. An end-to-end work flow of Sci-Kit learn work flow

In [1]:
# 2. Getting the data ready 
import pandas as pd 
heart_disease = pd.read_csv('https://github.com/mrdbourke/zero-to-mastery-ml/raw/master/data/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
x = heart_disease.drop("target", axis = 1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [5]:
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [6]:
# 3. chossing the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# 4. fit the model to trainig data 
from sklearn.model_selection import train_test_split 

x_train,x_test,y_train,y_test = train_test_split(x , y , train_size = 0.2)

In [8]:
clf.fit(x_train , y_train )

RandomForestClassifier()

In [16]:
# 5. make a prediction 
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       0], dtype=int64)

In [17]:
y_test

58     1
185    0
75     1
186    0
54     1
      ..
218    0
215    0
222    0
123    1
191    0
Name: target, Length: 243, dtype: int64

In [18]:
# 6. evaluate the model on the training data and test data 
clf.score(x_train , y_train )

1.0

In [19]:
clf.score(x_test , y_test )

0.7942386831275721

In [20]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [21]:
print(classification_report(y_test , y_preds))

              precision    recall  f1-score   support

           0       0.83      0.71      0.76       114
           1       0.77      0.87      0.82       129

    accuracy                           0.79       243
   macro avg       0.80      0.79      0.79       243
weighted avg       0.80      0.79      0.79       243

In [22]:
confusion_matrix(y_test , y_preds)

array([[ 81,  33],
       [ 17, 112]], dtype=int64)

In [23]:
accuracy_score(y_test , y_preds )

0.7942386831275721

In [27]:
# improve the model 
# try diffrent amount of estimator 
np.random.seed(42)
for i in range (10 , 100, 10):
    print(f"trying model with {i} estimator...")
    clf = RandomForestClassifier(n_estimators = i).fit(x_train,y_train)
    print(f" Model accuracy on test set:{clf.score(x_test,y_test) *100:.2f}%")
    print(" ")

trying model with 10 estimator...
 Model accuracy on test set:76.13%

trying model with 20 estimator...
 Model accuracy on test set:78.60%

trying model with 30 estimator...
 Model accuracy on test set:80.25%

trying model with 40 estimator...
 Model accuracy on test set:78.60%

trying model with 50 estimator...
 Model accuracy on test set:78.19%

trying model with 60 estimator...
 Model accuracy on test set:78.19%

trying model with 70 estimator...
 Model accuracy on test set:79.42%

trying model with 80 estimator...
 Model accuracy on test set:76.13%

trying model with 90 estimator...
 Model accuracy on test set:78.19%

In [28]:
# 7. save and load a trained model 
import pickle 
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))